# Introduction to the data

In [116]:
import pandas as pd
data = pd.read_csv("academy_awards.csv",encoding="ISO-8859-1")

data.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010 (83rd),Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

# Filtering the data

In [117]:
data["Year"]= data["Year"].str[0:4]
data["Year"]=data["Year"].astype("int64")

In [118]:
#Dataframe with Year column greater than 2000
later_than_2000= data.loc[data["Year"]>2000,:]
later_than_2000.shape

(1294, 11)

In [119]:
award_categories= ["Actor -- Leading Role","Actor -- Supporting Role","Actress -- Leading Role","Actress -- Supporting Role"]

nominations = later_than_2000.loc[later_than_2000["Category"].isin(award_categories),:]
nominations.shape

(200, 11)

# Cleaning up the Won? and Unnamed columns

In [120]:

replace_dict= {"NO":0,"YES":1}
nominations.loc[:,"Won?"]= nominations.loc[:,"Won?"].map(replace_dict)

/dataquest/system/env/python3/lib/python3.4/site-packages/pandas/core/indexing.py:477: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [121]:
nominations["Won"]= nominations["Won?"]

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [122]:
drop_cols = ["Won?","Unnamed: 5", "Unnamed: 6","Unnamed: 7", "Unnamed: 8", "Unnamed: 9", "Unnamed: 10"]

final_nominations= nominations.drop(drop_cols, axis=1)
final_nominations.head()

,Year,Category,Nominee,Additional Info,Won
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0

#  Cleaning up the "Additional Info" column

In [123]:
additional_info_one = nominations["Additional Info"].str.rstrip("'}")   

additional_info_two = additional_info_one.str.split("{'")
movie_names=[]
characters=[]
for row in additional_info_two:
    movie_names.append(row[0])
    characters.append(row[1])

final_nominations["Movie"]= movie_names
final_nominations["Character"]= characters

final_nominations.drop("Additional Info",axis=1)
final_nominations.head()

,Year,Category,Nominee,Additional Info,Won,Movie,Character
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0,Biutiful,Uxbal
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0,True Grit,Rooster Cogburn
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0,The Social Network,Mark Zuckerberg
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1,The King's Speech,King George VI
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0,127 Hours,Aron Ralston

# Exporting to SQLite

In [130]:
# Create the SQLite database nominations.db
import sqlite3
conn = sqlite3.connect("nominations.db")

# Export final_nominations to nominations.db
final_nominations.to_sql("nominations", conn, if_exists="append")

/dataquest/system/env/python3/lib/python3.4/site-packages/pandas/core/generic.py:1201: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  chunksize=chunksize, dtype=dtype)

# Verifying in SQL

In [134]:
q1 = "PRAGMA table_info('nominations')"
q2 = "SELECT * FROM nominations LIMIT 5;"

print(conn.execute(q1).fetchall())
#print(conn.execute(q2).fetchall())
conn.close()

[(0, 'index', 'INTEGER', 0, None, 0), (1, 'Year', 'INTEGER', 0, None, 0), (2, 'Category', 'TEXT', 0, None, 0), (3, 'Nominee', 'TEXT', 0, None, 0), (4, 'Additional Info', 'TEXT', 0, None, 0), (5, 'Won', 'INTEGER', 0, None, 0), (6, 'Movie', 'TEXT', 0, None, 0), (7, 'Character', 'TEXT', 0, None, 0)]